

<div class="promo__header">
    <h1><a href="#" class="logo">{{ logo }}</a></h1>
    <div class="promo__header_nav">
        {% for nav in navs %}
        <span><a href="{{ nav.href }}" class="promo__header_link">{{ nav.text }}</a></span>
        {% endfor %}
    </div>
</div>
<div class="promo__tabs">
    <div class="tab__gradient tab__gradient_1"></div>
    <div class="tab__gradient tab__gradient_2"></div>

    <ul class="tabs">
        {% for tab1 in promo.tabs1 %}
        <li class="tab-link {{ tab1.class }}" data-tab="{{ tab1.datatab }}">{{ tab1.title }}</li>
        {% endfor %}
    </ul>
    <div class="wpapper">
        <ul class="tabs2">
            {% for tab1 in promo.tabs1 %}
                <li class="tab-link  {{ tab1.class2 }}" data-tab="{{ tab1.datatab }}"><span class="tabs2__link">{{ tab1.title }}</span></li>
            {% endfor %}
        </ul>
    </div>

    {% for tab1 in promo.tabs1 %}
    <div id="{{ tab1.datatab }}" class="tab-content {{ tab1.class }}">
        <div class="tab__item tab__{{ tab1.class2 }}">
            <p class="promo__text">{{ tab1.text }}</p>
            <h3 class="promo__title">{{ tab1.title2 }}</h3>
            <h4 class="backgroundtext">{{ tab1.title }}</h4>
            <div class="tab__img {{ tab1.imgclass }}"><img src="{{ tab1.img1 }}"></div>
            {% if tab1.img2 %}
                <div class="tab__img"><img src="{{ tab1.img2 }}"></div>
            {% endif %}
        </div>
    </div>
    {% endfor %}



<div class="header">
    <h2 class="logo2__after"><a href="#" class="logo2">{{ logo }}</a></h2>
    <div class="header__nav">
        {% for nav in navs %}
            <span><a href="{{ nav.href }}" class="header__link">{{ nav.text }}</a></span>
        {% endfor %}
    </div>
</div>

<div class="promo2">
    <h3 class="promo2__title">{{ promo2title }}</h3>
    <h3 class="promo2__text"><span class="typedtext"></span></h3>
</div>

<div class="projects">

    <ul class="projects__menu">
        {% for menu in projects_menu %}
        <li><a href="{{ menu.href }}" class="projects__menu_link {{ menu.activeclass }}">{{ menu.name }}</a></li>
        {% endfor %}
    </ul>

    <div class="projects__container">
{% for pro in  projects %}
        <div class="projects__item">
            <img class="projects__item_img" src="{{ pro.imgsrc }}" alt="{{ pro.imgalt }}">
            <div class="projects__overlay">
                <h6 class="overlay__title">{{ pro.overlaytitle }}</h6>
                <p class="overlay__text">{{ pro.overlaytext }}</p>
                <a href="#" class="overlay__link">www.trim.mobi</a>
                <div class="overlay__buttons">
                    <a href="{{ pro.glink }}"><img class="overlay__img" src="{{ pro.gimg }}" alt="{{ pro.galt }}"></a>
                    <a href="{{ pro.alink }}"><img class="overlay__img" src="{{ pro.aimg }}" alt="{{ pro.aalt }}"></a>
                </div>
                <div class="overlay__bottom">
                    <span class="overlay__bottom_text">{{ pro.bottomtext1 }}</span>
                    <span class="overlay__bottom_text">{{ pro.bottomtext2 }}</span>

                </div>
            </div>
        </div>
{% endfor %}


    </div>
</div> <!-- Projects end -->



<div class="promo2 promo2__bottom">
    <h3 class="promo2__title">{{ promobottomtitle }}</h3>
    <h3 class="promo2__text">{{ promobottomtext }}</h3>
</div>

<div id="footer">
    <div class="contacts">
        {% for contact in contacts %}
        <div class="contacts__item">
            <span class="contacts__country">{{ contact.country }}</span>
            <span class="contacts__city">{{ contact.city }}</span>
            <span class="contacts__ad">{{ contact.st }}</span>
            <span class="contacts__ad">{{ contact.suite }}</span>
            <span class="contacts__ad">{{ contact.zip }}</span>
            <span class="contacts__tel">{{ contact.tel }}</span>
        </div>
        {% endfor %}

        <div class="contacts__item">
            <span class="contacts__btn">{{ contactsbtn }}</span>
            <span class="contacts__e">{{ email }}</span>
            <span class="contacts__e">skype: {{ skype }}</span>
        </div>


    </div>

</div>